.app-container {
    display: grid;
    font-size: 16px;
    grid-template-rows: [header] 10px [body] auto;
    grid-template-columns: [left-gutter] 1fr [app-content] 12fr [right-gutter] 1fr;
    height: 100vh;
    overflow: hidden;
  }
  
  .app-content {
    grid-row: body;
    grid-column: app-content;
    height: 100%;
    overflow: hidden;
  }